@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    box-sizing:border-box;
}

a {
	color: #000;
	text-decoration: none;
}

form {
	background-color:#b0e4dead;
	border-radius:10px;
    font-family: 'Josefin Sans', sans-serif;
	margin: 80px auto;
	padding:16px;
	text-align: center;
	width:450px;
}

legend {
	font-size: 20px;
    font-weight: bold;
	margin-left: 160px;
    margin-top: 10px;
    text-align: center;
}

label {
	display:inline-block;
	font-weight:bold;
    margin-right: 15px;
	width:72px;
}

input[type="email"],
    input[type="password"] {
	    border:1px solid #f6f6f6;
	    border-radius:6px;
	    background-color:#f6f6f6;
	    display:inline-block;
		margin:8px 0;
		padding:3px 10px;
		width:180px;
}

.create {
	background-color:#407a81;
	border:1px solid #407a81;
	border-radius:5px;
	color:#fff;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	margin-top:32px;
	padding:8px 16px;
	width:100%;
} 

#google-login {
	margin-top:10px;
}

.create:hover{
    background-color: #0f5357;
	cursor:pointer;
}